<nav class="main-menu">
    <a class="btn active" asp-controller="Contracts" asp-action="Index">Список договоров</a>
    <a class="btn" asp-controller="Contracts" asp-action="Import">Импорт данных</a>
    <a class="btn" asp-controller="Contracts" asp-action="GetContracts">api/Договора</a>
    <a class="btn" asp-controller="Contracts" asp-action="GetContractStages">api/Этапы</a>
</nav>